# macOS
.DS_Store

# Python virtual environment
venv310/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Face Recognition Data
dataset/
models/encodings.pickle